/* TODO: Rename colors */
$color-grey-50: #f0f5f9;
$color-grey-100: #6a7688;
$color-grey-200: #ebf2f6;
$color-white: #ffffff;
$color-black: #222;
$color-purple: #323bac;
$line-height: 25px;
$transition-duration: 0.3s;
$transition-timing-function: ease-in-out;
$media-992: 992px;
$media-768: 768px;
$media-640: 640px;
$media-480: 480px;
$media-320: 320px;
