@import 'src/app/styles/functions.scss';
@import 'src/app/styles/variables.scss';
@import '../../Tabs.styles.common.module';

.container {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: $color-white;
  color: $color-black;
  border: 1px solid $color-purple;
  transition: transition(color), transition(background-color);

  @extend .commonLabel;

  &:hover {
    background-color: $color-purple;
    color: $color-white;
  }
}

@media screen and (min-width: $media-992) {
  .container {
    width: 90px;
    height: 36px;
  }
}
