@import 'src/app/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.description {
  font-size: 14px;
  text-indent: 20px;
  line-height: $line-height;
  text-align: justify;
}

@media screen and (min-width: $media-768) {
  .description {
    font-size: 20px;
    text-indent: 20px;
  }
}
