@import 'src/app/styles/variables.scss';
@import 'src/app/styles/functions.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  max-width: 100px;
  text-align: center;
  transition: transition(transform);

  @media (hover: hover) {
    &:hover {
      transform: translateY(-10px);
    }
  }
}

.itemText {
  font-size: 14px;
  line-height: $line-height;
}

@media screen and (min-width: $media-768) {
  .item {
    max-width: 300px;
  }

  .itemText {
    font-size: 20px;
  }
}
