@import 'src/app/styles/functions.scss';
@import 'src/app/styles/variables.scss';
@import '../../Tabs.styles.common.module';

.container {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: $color-purple;
  transition: transition(top), transition(left);
}

.value {
  color: $color-white;

  @extend .commonLabel;
}

@media screen and (min-width: $media-992) {
  .container {
    width: 90px;
    height: 36px;
  }
}
