@import 'src/app/styles/functions.scss';
@import 'src/app/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 24px;
  width: 100%;
}

.transitionEnter {
  opacity: 0;
  transform: scale(0);
}

.transitionEnterActive {
  opacity: 1;
  transform: scale(1);
  transition: transition(opacity), transition(transform);
}

.transitionExit {
  opacity: 1;
  transform: scale(1);
}

.transitionExitActive {
  opacity: 0;
  transform: scale(0);
  transition: transition(opacity), transition(transform);
}

.showMore {
  padding: 10px 34px;
  font-size: 18px;
  color: $color-white;
  text-decoration: none;
  background-color: $color-purple;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: transition(color), transition(background-color), transition(border);

  &:hover {
    color: $color-purple;
    background-color: $color-white;
    border-color: $color-purple;
  }
}

@media screen and (min-width: $media-375) {
  .content {
    column-gap: 14px;
  }
}

@media screen and (min-width: $media-992) {
  .showMore {
    font-size: 24px;
  }
}
