@import 'src/app/styles/variables.scss';

.container {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  background-color: $color-white;
  color: $color-black;
  border: 1px solid $color-purple;
  font-size: 12px;
  transition: color $transition-timing-function $transition-duration, background-color $transition-timing-function $transition-duration;

  &:hover {
    background-color: $color-purple;
    color: $color-white;
  }
}

@media screen and (min-width: $media-992) {
  .container {
    width: 90px;
    height: 36px;
    font-size: 16px;
  }
}
