@import 'src/app/styles/variables.scss';
@import 'src/app/styles/functions.scss';

.inner {
  row-gap: 20px;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.details {
  font-size: 14px;
  line-height: $line-height;
  text-align: justify;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px 10px;
  min-width: 110px;
  width: fit-content;
  background-color: $color-purple;
  border: 1px solid $color-purple;
  border-radius: 4px;
  transition: transition(background-color);
  text-decoration: none;

  svg {
    path {
      transition: transition(stroke);
    }
  }

  &:hover {
    background-color: $color-white;

    .linkText {
      color: $color-purple;
    }

    svg {
      path {
        stroke: $color-purple;
      }
    }
  }
}

.linkText {
  transition: transition(color);
  color: $color-white;
  font-size: 16px;
}

@media screen and (min-width: $media-480) {
  .footer {
    justify-content: flex-start;
    column-gap: 20px;
  }
}

@media screen and (min-width: $media-640) {
  .title {
    font-size: 26px;
  }

  .details {
    font-size: 18px;
  }
}
