@import 'src/app/styles/functions.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 100%;
  max-width: 50px;
  text-align: center;
  line-height: 20px;

  transition: transition(transform);

  @media (hover: hover) {
    &:hover {
      transform: translateY(-10px);
    }
  }
}
